@import "variables";
@import "bootstrap";
@import "mixins";

html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: hidden;
    height: 100%;
    @include media-breakpoint-up(md) {
        display: flex;
    }
    &.nav-is-collapsed {
        header {
            @include media-breakpoint-up(md) {
                width: 40%;
            }
            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
        main {
            flex-grow: 1;
        }
    }
}
header {
    height: 100%;
    transition: width 0.3s ease-in-out;
    @include media-breakpoint-up(md) {
        width: 100%;
        flex-shrink: 0;
        flex-direction: row;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //background: rgb(51,150,179);
    //background: radial-gradient(circle, rgba(51,150,179,1) 0%, rgba(31,112,157,1) 100%);
//    background: rgb(51,134,179);
//background: radial-gradient(circle, rgba(51,134,179,1) 0%, rgba(74,31,157,1) 100%);
background: rgb(51,134,179);
background: linear-gradient(45deg, rgba(51,134,179,1) 0%, rgba(74,31,157,1) 100%);

    h2 {
        border-left-color: #fff;
    }

}
.logo-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        border: 0;
    }
}

.logo {
    width: rem-calc(200);
}

.contact-icons {
  a {
    width: rem-calc(30);
    height: rem-calc(30);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.2);
        text-decoration: none;
    }
  }
}

.btn-round {
    border-radius: ($btn-line-height + ($btn-padding-x * 2)) / 2;
    &.btn-sm {
        border-radius: ($btn-line-height-sm + ($btn-padding-x-sm * 2)) / 2;
    }
    &.btn-lg {
        border-radius: ($btn-line-height-lg + ($btn-padding-x-lg * 2)) / 2;
    }
}

.nav-pills {
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
    }
    .nav-link {
        border: $border-color $border-width solid;
        background-color: $border-color;
        color: $body-color;
        @include media-breakpoint-up(md) {
            &:not([aria-expanded="true"]) {
                &:not(:hover) {
                    color: $border-color;
                    background-color: transparent;
                }
            }
        }
    }
    .nav-link-round {
        border-radius: ($line-height-base + ($nav-link-padding-x * 2)) / 2;
    }
}

main {
    height: 100%;
    position: relative;

    .content {
        height: 100%;
        position: relative;
        overflow: auto;
    }

    .close {
        position: absolute;
        right: rem-calc(20);
        top: rem-calc(20);
        opacity: 1;
        color: $primary;
        z-index: 1;
    }
}

body:not(.nav-is-collapsed) {
    .collapsing {
        transition: 0.2s height 0.2s ease-in-out;
    }
}

@include media-breakpoint-up(md) {
    .collapse, .collapsing {
        transition: opacity 0.2s ease-in-out, 0.2s height 0.2s ease-in-out;
    }

    .collapse {
        opacity: 1;
    }

    .opacity-0, .collapsing {
        opacity: 0;
    }
}

.intro {
    max-width: rem-calc(700);
}

h1, h2{
    border-left: $headings-color 3px solid;
    padding-left: rem-calc(20);
    margin-left: rem-calc(-20);
}


